* {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

body {
  font-family: roboto;
  background: #3c40c6;
  background-image: url("../imgs/bg.svg");
  padding-top: 30px;
  height: 100vh;
  overflow-y: visible;
}

.topHeading {
  color: #fff;
  margin: 10px 0px 5px -10px;
}

.color-set-column {
  padding: 5px;
  cursor: pointer;
  height: 120px;
}

.color-set-column:active {
  padding: 8px;
}

.color-set {
  background: #fff;
  padding: 5px 5px 0px 5px;
  border-radius: 4px;
  height: 100%;
}

.color-set .show-color {
  height: calc(100% - 20px);
  background: #fff;
  display: -ms-grid;
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  -ms-grid-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
      grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
  -ms-grid-rows: calc(100% /4);
      grid-template-rows: calc(100% /4);
}

.color-set .show-color .color {
  height: 100%;
}

.color-set .plate-name {
  padding: 0px 0px;
}

.color-set .plate-name .name {
  font-size: 10px;
}

.color-set .plate-name .emoji {
  float: right;
}

.row > .loading {
  text-align: center;
}

.full-screen-selector {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #fff;
}

.full-screen-selector .color-box {
  height: calc(100% - 30px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
      grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
  -ms-grid-rows: calc(100% /4);
      grid-template-rows: calc(100% /4);
}

.full-screen-selector .color-box .color {
  height: 100%;
  cursor: pointer;
}

.full-screen-selector .color-box .color:hover {
  z-index: 2;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.full-screen-selector .color-box .color:active {
  z-index: 2;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

.full-screen-selector .copy-format {
  margin: 0 auto;
  font-size: 10px;
}

.title-area {
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  color: #34495e;
  -webkit-app-region: drag;
  -webkit-box-shadow: 2px 2px 20px #00000044;
          box-shadow: 2px 2px 20px #00000044;
  z-index: 99999;
  text-align: center;
}

.title-area .action .btn {
  -webkit-app-region: no-drag;
  background: #eee;
  height: 30px;
  width: 50px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  position: relative;
  float: right;
  font-size: 15px;
}

.title-area .action .btn:hover {
  background: #ddd;
}

.title-area .action .close:hover {
  background: red;
  color: #fff;
}

.title-area .action .minimize {
  line-height: 30px;
}

.title-area .action .pin:active {
  background: #ccc;
}

.title-area .action .move {
  -webkit-app-region: drag;
}

.title-area .action .back {
  float: left;
}

.title-area .action .active {
  background: #aaa;
}

.title-area .action .logo {
  background: #fff;
  float: left;
}

.title-area .action .logo:hover {
  background: #fff;
}

.colorCopiedBox {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 20px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: showBox 0.7s ease-in;
          animation: showBox 0.7s ease-in;
}

.colorCopiedBox .overlay {
  width: 100vw;
  padding: 10px;
  background: #ffffff33;
  -webkit-transform: translate(0, calc(50vh - 40px));
          transform: translate(0, calc(50vh - 40px));
}

.colorCopiedBox .overlay p {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px #00000066;
  margin: 0px;
  margin-bottom: 5px;
}

.colorCopiedBox .overlay .colorCode {
  color: #fff;
  font-size: 15px;
}

.addNewPalette {
  border: 2px dashed #fff;
  border-radius: 4px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 50px;
  height: 100%;
  cursor: pointer;
}

.addNewPalette:hover {
  background: #ffffff55;
}

.editColorModal {
  position: fixed;
  top: 0;
  background: #000000cc;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.editColorModal .color-set {
  height: 60vw;
}

.editColorModal .color-set .show-color {
  cursor: pointer;
}

.editColorModal .color-set .nameArea {
  padding: 0px 0px 5px 0px;
}

.editColorModal .color-set .nameArea .name {
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 2px;
  outline: none;
}

.editColorModal .color-set .color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.editColorModal .color-set .show-color {
  height: calc(100% - 35px);
}

.editColorCode {
  position: fixed;
  top: 0;
  background: #000000cc;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.editColorCode .color-set {
  height: 60vw;
}

.editColorCode .values {
  padding-bottom: 2px;
}

.editColorCode .values label {
  color: #4834d4;
  font-weight: 500;
  font-size: 15px;
}

.editColorCode .values input[type="text"] {
  outline: 0;
  background: #fff;
  border: 0px;
  text-align: right;
  border-bottom: 2px solid #fff;
}

.editColorCode .values input[type="text"]:focus {
  border-bottom: 2px solid #4834d4;
}

.editColorCode .values input[type="text"]::-webkit-input-placeholder {
  text-align: center;
}

.editColorCode .values input[type="text"]:-ms-input-placeholder {
  text-align: center;
}

.editColorCode .values input[type="text"]::-ms-input-placeholder {
  text-align: center;
}

.editColorCode .values input[type="text"]::placeholder {
  text-align: center;
}

.editColorCode .preview {
  width: 100%;
  height: 50vw;
  margin-bottom: 5px;
}

.button-set {
  padding-top: 20px;
}

.button-set button {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 2px;
  border: 0px;
  float: right;
  margin: 0px 10px;
  color: #f5f6fa;
  outline: 0;
  background: #00a8ff;
}

.button-set button.save {
  background: #00a8ff;
}

.button-set button.save:hover {
  background: #0097e6;
}

.button-set button.cancel {
  background: #7f8fa6;
}

.button-set button.cancel:hover {
  background: #718093;
}

.button-set button.delete {
  background: #e84118;
}

.button-set button.delete:hover {
  background: #c23616;
}

.blowUpModal {
  -webkit-animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.blowUpModalBG {
  -webkit-animation: blowUpModalBG 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: blowUpModalBG 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.blowDownModal {
  -webkit-animation: blowDownModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: blowDownModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.blowDownModalBG {
  -webkit-animation: blowDownModalBG 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: blowDownModalBG 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.color-set-column {
  -webkit-transition: none;
  transition: none;
}

.plate-name {
  cursor: move;
}

.edit-buttons button {
  height: calc(50% - 8px);
  margin: 4px;
  width: calc(50% - 8px);
  background: #8c7ae6;
  outline: none;
  color: #fff;
  border: 0px;
  border-radius: 4px;
}

.edit-buttons button.loadDefault {
  background: #e84118;
}

.edit-buttons button.donate {
  background: #00a8ff;
}

.importExport {
  position: fixed;
  top: 0;
  background: #000000cc;
  z-index: 21;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.importExport h2 {
  color: #fff;
}

.importExport.export .import {
  display: none;
}

.importExport.import .export {
  display: none;
}

.importExport textarea {
  height: 200px;
  border-radius: 4px;
  outline: 0;
  width: 100%;
}

@-webkit-keyframes showBox {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes blowDownModal {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes blowDownModal {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes blowUpModalBG {
  0% {
    background: #00000000;
  }
  100% {
    background: #000000cc;
  }
}

@keyframes blowUpModalBG {
  0% {
    background: #00000000;
  }
  100% {
    background: #000000cc;
  }
}

@-webkit-keyframes blowDownModalBG {
  0% {
    background: #000000cc;
  }
  100% {
    background: #00000000;
  }
}

@keyframes blowDownModalBG {
  0% {
    background: #000000cc;
  }
  100% {
    background: #00000000;
  }
}
/*# sourceMappingURL=main.css.map */